{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="hero">
    <p>"Formez votre équipe, maîtrisez les compétences et dominez le champ de bataille avec des héros uniques et légendaires !"</p>
    <a href="#" class="btn btn-primary">Jouez, des maintenant</a>
</div>

<section class="content">
    <h1>Comment jouer à Darkest Dungeons</h1>
    <p>Darkest Dungeon est un jeu de rôle tactique au tour par tour mêlant exploration de donjons, gestion d’équipe et stress psychologique.</p>

    <h2>Objectif du jeu:</h2>
    <p>Le joueur recrute et dirige une compagnie de héros chargés d ’explorer des donjons dangereux afin de vaincre des monstres, récupérer des ressources et améliorer un village central appelé le Hamlet. Les héros peuv ent  subir des traumatismes mentaux, des maladies ou mourir définitivement.</p>

</section>
{% endblock %}
