security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
<<<<<<< HEAD
=======

>>>>>>> master
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
<<<<<<< HEAD
                property: username
=======
                property: email

>>>>>>> master
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            form_login:
                login_path: app_login
                check_path: app_login
<<<<<<< HEAD
                enable_csrf: true
                default_target_path: app_home
            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800
                path: /
            logout:
                path: app_logout
                target: app_login

    access_control:
        - { path: ^/login$, roles: PUBLIC_ACCESS }
        - { path: ^/register$, roles: PUBLIC_ACCESS }
        - { path: ^/, roles: ROLE_USER }
=======
                default_target_path: app_home
                enable_csrf: true
            logout:
                path: app_logout
                target: app_home

    access_control:
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/register, roles: PUBLIC_ACCESS }
        - { path: ^/champ, roles: ROLE_USER }
        - { path: ^/teams, roles: ROLE_USER }
        - { path: ^/arena, roles: ROLE_USER }
>>>>>>> master

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
