{% extends 'base.html.twig' %}

{% block title %}Hello ChampSelectController!{% endblock %}

{% block body %}


{% for Character in Character %}
     <h3>{{Character.name}}</h3>
     <img src="{{ asset('asset/img/logo/' ~ (Character.name|lower)  ~ '.webp' ) }}">
{% endfor %}
{% endblock %}
