// variables des couleurs
$color-button: #D92505;
$color-dark: #090C08;

// Fonts
$font-heading: 'Cinzel', Georgia, serif;
$font-body: 'EB Garamond', Georgia, serif;

// Breakpoints
$breakpoint-small-mobile: 480px;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1200px;