.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    background-color: #d9d9d9;
    opacity: 50%;
    width: 50%;
    height: 400px;
    border-radius: 12px;
    z-index: 1000;
    
    p{
        font-size: 2rem;
        text-align: center;
    }
}