@use "../base/variables" as *;

header {
    nav {
        display: flex;
        justify-content: space-between; 
        align-items: center;  
        
        .burger{
            display: none;
            font-size: 2rem;
        }
        .img-logo {
            img {
                max-width: 250px;
            }
        }
        
        ul {
            display: flex;
            gap: 2rem;

            li{
                list-style: none;

                a{
                    text-decoration: none;
                    color: $color-button;
                    font-size: 2rem;
                }
            }
        }
    }
}