@use "base/body";
@use "base/responsive";
@use "base/typographie";
@use "base/variables";

@use "layout/footer";
@use "layout/hero";
@use "layout/navbar";

@use "components/button";
@use "components/cards";
@use "components/profile";
@use "components/friends";

@use "pages/home";
@use "pages/personnages";
@use "pages/auth";
@use "pages/arena";
@use "pages/teams";
@use "pages/matchmaking";
@use "pages/profile-page";
@use "pages/error";
@use "pages/admin";
