// Import FontAwesome
@import '~@fortawesome/fontawesome-free/css/all.css';

// Styles de base
body {
    background-color: skyblue;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
