.content{
    text-align: center;
    h1,h2{
        color: white;
        margin: 10px;
        padding-top: 20px;
    }
    p{
        color: white;
        margin: 20px;
        font-size: 1.5rem;
    }
}